<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>from database</title>
  <link rel="stylesheet" href="../assets/styles/main.css"/>
</head>
<body>
<h1>pokaji</h1>
<ol>
  <% for (var i = 0;i<articles.length;i++) { %>
  <li class="otdelna"><span class="tito"><%=articles[i].title %></span> <a href="/delete/<%=articles[i].id%>" >delete</a> <br/>
  </li>
  <% } %>

</ol>
<script>

</script>
</body>
</html>
