doctype  html
html
  head
    link(rel='stylesheet',href='/styles/bootstrap.css')
    link(rel='stylesheet',href='/styles/main.css')
  body
    div.container-fluid.list-inline

      //div.col-sm-4
      //  div.magic-border
      //    img(src='/images/jim-carrey.jpg',alt='',class='fir')
      //    div.heading.col-sm-12.list-group-item Если мы любим кого-то, нужно дать ему свободу. Свободным принимать собственные решения, свободным жить так, как он хочет, а не так, как хотим мы.
      //    div.description
      //      div.col-sm-12 Если мы любим кого-то, нужно дать ему свободу. Свободным принимать собственные решения, свободным жить так, как он хочет, а не так, как хотим мы. Каждому из нас нужно личное пространство. Людям нужно быть свободными во взаимоотношениях, потому что иначе они чувствуют себя в ловушке. Если действительно любишь кого-то, нужно уважать его желания и потребности. Не всегда легко отпустить на свободу того, кого любишь, но другого пути нет. Жизненная мудрость гласит: «Чем больше свободы мы даем другому, тем ближе он к нам».
      .col-md-4
         ul.list-group.magic-border.no-padding
          img(src='/images/jim-carrey.jpg',alt='',class='fir')
          li(style='border:none',class='list-group-item heading') Если мы любим кого-то, нужно дать ему свободу. Свободным принимать собственные решения, свободным жить так, как он хочет, а не так, как хотим мы.
          li(class='description list-group-item tri-line',style='border:none') Если мы любим кого-то, нужно дать ему свободу. Свободным принимать собственные решения, свободным жить так, как он хочет, а не так, как хотим мы. Каждому из нас нужно личное пространство. Людям нужно быть свободными во взаимоотношениях, потому что иначе они чувствуют себя в ловушке. Если действительно любишь кого-то, нужно уважать его желания и потребности. Не всегда легко отпустить на свободу того, кого любишь, но другого пути нет. Жизненная мудрость гласит: «Чем больше свободы мы даем другому, тем ближе он к нам».
      .col-md-4
        ul.list-group.magic-border.no-padding
          img(src='/images/jim-carrey.jpg',alt='',class='fir')
          li(style='border:none',class='list-group-item heading') Если мы любим кого-то, нужно дать ему свободу. Свободным принимать собственные решения, свободным жить так, как он хочет, а не так, как хотим мы.
          li(class='description list-group-item tri-line',style='border:none') Если мы любим кого-то, нужно дать ему свободу. Свободным принимать собственные решения, свободным жить так, как он хочет, а не так, как хотим мы. Каждому из нас нужно личное пространство. Людям нужно быть свободными во взаимоотношениях, потому что иначе они чувствуют себя в ловушке. Если действительно любишь кого-то, нужно уважать его желания и потребности. Не всегда легко отпустить на свободу того, кого любишь, но другого пути нет. Жизненная мудрость гласит: «Чем больше свободы мы даем другому, тем ближе он к нам».
      .col-md-4
        ul.list-group.magic-border.no-padding
          img(src='/images/jim-carrey.jpg',alt='',class='fir')
          li(style='border:none',class='list-group-item heading') Если мы любим кого-то, нужно дать ему свободу. Свободным принимать собственные решения, свободным жить так, как он хочет, а не так, как хотим мы.
          li(class='description list-group-item tri-line',style='border:none') Если мы любим кого-то, нужно дать ему свободу. Свободным принимать собственные решения, свободным жить так, как он хочет, а не так, как хотим мы. Каждому из нас нужно личное пространство. Людям нужно быть свободными во взаимоотношениях, потому что иначе они чувствуют себя в ловушке. Если действительно любишь кого-то, нужно уважать его желания и потребности. Не всегда легко отпустить на свободу того, кого любишь, но другого пути нет. Жизненная мудрость гласит: «Чем больше свободы мы даем другому, тем ближе он к нам».

      //div.col-md-4.magic-border.list-group
      //  img(src='/images/jim-carrey.jpg',alt='',class='fir ')
      //  div.heading.list-group-item Если мы любим кого-то, нужно дать ему свободу. Свободным принимать собственные решения, свободным жить так, как он хочет, а не так, как хотим мы.
      //  div.col-sm-12.description.list-group-item Если мы любим кого-то, нужно дать ему свободу. Свободным принимать собственные решения, свободным жить так, как он хочет, а не так, как хотим мы. Каждому из нас нужно личное пространство. Людям нужно быть свободными во взаимоотношениях, потому что иначе они чувствуют себя в ловушке. Если действительно любишь кого-то, нужно уважать его желания и потребности. Не всегда легко отпустить на свободу того, кого любишь, но другого пути нет. Жизненная мудрость гласит: «Чем больше свободы мы даем другому, тем ближе он к нам».



